html {

}

body {
    padding: 0px 20px 0px 20px;
}

.progressBar {
    height: 40px;
}

.progress-bar {
    height: 35px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}

.btn-group {
    position:fixed; left: 150px; bottom: 670px;
}

.status {
    position: absolute; left: 700px; bottom: 855px;
    animation: blinker 2s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 40%;
        color: green;
    }
}
