html {

}

body {
    padding: 0px 20px 0px 20px;
}

.progressBar {
    height: 40px;
}

.progress-bar {
    height: 35px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}

.btn-group {
    position:absolute; left: 170px; bottom: 615px;
}

.status {
    position: absolute; left: 660px; bottom: 855px;
}
